/* Timer.css */
#timer-container {
    width: 480px;
    height: 313px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 5px;
    transition: background-color 0.5s ease-in-out;
}

#timer-container.focus {
    background-color: #f5c2e7;
}

#timer-container.short-break {
    background-color: #c8e6c9;
}

#timer-container.long-break {
    background-color: #bbdefb;
}

#countdown {
    font-size: 100px;
    font-weight: 100;
    margin-top: -10px;
}

#focus-mode {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

#btn-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.timer-btn {
    border: none;
    height: 46px;
    width: 122px;
    border-radius: 24px;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    box-shadow: 0px 1px 5px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.timer-btn.focus {
    background-color: #f38ba8;
    color: #333;
}

.timer-btn.short-break {
    background-color: #cba6f7;
    color: #333;
}

.timer-btn.long-break {
    background-color: #89b4fa;
    color: #333;
}

#skip-btn {
    background-color: #a6adc8;
    color: #333;
}
