@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    background-color: #f38ba8;
    font-family: Roboto;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    margin-top: 10%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
